@*@model StudentManagement.Models.Student*@
@model StudentManagement.ViewModels.HomeDetailsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "学生详情页";
}

<h3>@Model.PageTitle</h3>
<div>
    姓名： @Model.student.Name
</div>
<div>
    邮箱：@Model.student.Email
    
</div>
<div>
    班级：@Model.student.ClassName
</div>
